html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  
  
  body {
    background-color: #3b4a5a;
    color: wheat;
  }
  
  form  {
    text-align: center;
  }
  
  input {
    font-size: 16px;
    padding: 8px 10px 8px 10px;
    border: 1px solid #999696;
    background: #fffffff8;
    border-radius: 5px;
    outline: none;
  }
  
  .search-button{
      width: 150px;
      height: 40px;
      background: #2196F3;
      border-radius: 4px;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.06em;
  }
  
  .gallery {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 30px 10px;
  }
  
  .gallery-link{
    text-decoration: none;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc((100% - 4 * 20px) / 3);
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .card:not(:nth-child(3n)) {
    margin-right: 20px;
  }
  
  .card img {
    width: 94%;
    height: 500px;
    border-radius: 8px;
  }
  
  
  
  .stats {
    width: 360px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .stats-item {
    margin: 30px;
    padding: 0;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }